<div class="rent-auth">

  <div class="auth-card rent-login" *ngIf="formType == 'login'">
    <div class="auth-card_header background-primary">
      <div class="card-header_image"><img src="/assets/icons/logo.svg"></div>
      <div class="card-header_title uppercase">Login</div>
    </div>
    <div class="auth-card_content">
      <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="login()">
         <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email"
                  [errorStateMatcher]="matcher" required autocomplete="off">
          <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" formControlName="password"
                  [errorStateMatcher]="matcher" [type]="formVars.login.inputType" required>
          <button *ngIf="formVars.login.visible" type="button" mat-icon-button matSuffix (click)="togglePassword('login')">
              <mat-icon>visibility</mat-icon>
          </button>
          <button *ngIf="!formVars.login.visible" type="button" mat-icon-button matSuffix (click)="togglePassword('login')">
            <mat-icon>visibility_off</mat-icon>
          </button>
          <mat-hint>Click the eye to toggle visibility</mat-hint>
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <section class="remember">
            <mat-checkbox class="rememberme" formControlName="rememberme">Remember me</mat-checkbox>
            <a href="javascript:;" (click)="openForm('forgot')">Forgot Password?</a>
        </section>

        <button mat-raised-button color="primary" class="full-width ">Login</button>
      </form>
    </div>
    <div class="auth-card_footer"> Don't have an account?<br >
      <a href="javascript:;" (click)="openForm('signup')">Click here to create one</a>
    </div>
  </div>

  <div class="auth-card rent-signup" *ngIf="formType=='signup'">
    <div class="auth-card_header  background-primary">
      <div class="card-header_image"><img src="/assets/icons/logo.svg"></div>
      <div class="card-header_title uppercase">SIGNUP</div>
    </div>
    <div class="auth-card_content">
      <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()">
         <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email"
                  [errorStateMatcher]="matcher" required autocomplete="off">
          <mat-error *ngIf="signupForm.controls.email.hasError('email') && !signupForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="signupForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" formControlName="password"
                  [errorStateMatcher]="matcher" [type]="formVars.signup.inputType" required>
          <button *ngIf="formVars.signup.visible" type="button" mat-icon-button matSuffix (click)="togglePassword('signup')">
              <mat-icon>visibility</mat-icon>
          </button>
          <button *ngIf="!formVars.signup.visible" type="button" mat-icon-button matSuffix (click)="togglePassword('signup')">
            <mat-icon>visibility_off</mat-icon>
          </button>
          <mat-hint>Password should contains at least 6 alphanumberics</mat-hint>
          <mat-error *ngIf="signupForm.controls.password.hasError('minlength')">
              Password should contains at least <strong>6</strong> alphanumberics
          </mat-error>
          <mat-error *ngIf="signupForm.controls.password.hasError('required')">
              Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput #password placeholder="Password(Confirm)" formControlName="repassword"
                  [errorStateMatcher]="matcher" [type]="formVars.repass.inputType" required>
          <button *ngIf="formVars.repass.visible" type="button" mat-icon-button matSuffix (click)="togglePassword('repass')">
              <mat-icon>visibility</mat-icon>
          </button>
          <button *ngIf="!formVars.repass.visible" type="button" mat-icon-button matSuffix (click)="togglePassword('repass')">
            <mat-icon>visibility_off</mat-icon>
          </button>
          <mat-hint>Please repeat your password from above</mat-hint>
          <!-- <mat-error *ngIf="signupForm.controls.repassword.hasError('required')">
            Password(confirm) is <strong>required</strong>
          </mat-error> -->
          <mat-error *ngIf="signupForm.hasError('notSame')">
            Passwords do not <strong>match</strong>
          </mat-error>
        </mat-form-field>
        <section class="terms">
            <mat-checkbox class="terms" formControlName="acceptTerms" [ngClass]="{'error': formVars.signup.submitted && signupForm.controls.acceptTerms.hasError('required')}">
              I accept the <a href="javascript:;">terms and conditions.</a>
            </mat-checkbox>
        </section>

        <button mat-raised-button color="primary" class="full-width">Signup</button>
      </form>
    </div>
    <div class="auth-card_footer"> Already have an account?<br >
      <a href="javascript:;" (click)="openForm('login')">Sign in here</a>
    </div>
  </div>

  <div class="auth-card rent-forgot" *ngIf="formType == 'forgot'">
    <div class="auth-card_header background-primary">
      <div class="card-header_image"><img src="/assets/icons/logo.svg"></div>
      <div class="card-header_title uppercase">Recover Password</div>
    </div>
    <div class="auth-card_content">
      <form class="auth-form" [formGroup]="forgotForm" (ngSubmit)="recover()">
         <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email"
                  [errorStateMatcher]="matcher" required autocomplete="off">
          <mat-hint>Enter your email to recover your password.</mat-hint>
          <mat-error *ngIf="forgotForm.controls.email.hasError('email') && !forgotForm.controls.email.hasError('required')">
            Please enter a valid password
          </mat-error>
          <mat-error *ngIf="forgotForm.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="full-width recover">Recover</button>
      </form>
    </div>
    <div class="auth-card_footer">
      <a href="javascript:;" (click)="openForm('login')">Back</a>
    </div>
  </div>
</div>
