<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">

		<mat-list>
			<mat-list-item> 
				Profile 
			</mat-list-item>
			<mat-list-item> Account </mat-list-item>
			<mat-list-item> Security </mat-list-item>
			<mat-list-item> Company </mat-list-item>
			<mat-list-item> Applications </mat-list-item>
			<mat-list-item> Settings </mat-list-item>
		</mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
		<div class="page-title">
			<a class="toggle" href="javascript:;" (click)="sidenav.toggle()">
				<mat-icon *ngIf="opened">arrow_left</mat-icon>
				<mat-icon *ngIf="!opened">arrow_right</mat-icon>
			</a>
		<!-- <span>Profile</span> -->
		</div>
		<p>Account</p>
		<!-- <div class="example-events">
		<div *ngFor="let e of events">{{e}}</div>
		</div> -->

	</mat-sidenav-content>
</mat-sidenav-container>
